<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="<% userData.color %>">
    <% if (locals.userData) { %> 
        <selection>
            <p>Hola <%= userData.name %>, elegiste el color <%= userData.color %>, tu email es <%= eserData.email %> <% userData.age !== "" && `y tu edad es ${userData.age}` %>   </p>
        </selection>
        <% } %> 
    <form action="" method="post">
        <div>
            <label for="name">Ingrese su nombre *</label>
            <input type="text" name="name" id="name">
            <% if (locals.errors && errors.name) { %> 
                <smaill class="text-danger"><%= errors.name.msg %> </smaill>
                <% } %> 
        </div>
        <div>
            <select name="color">
                <option hidden selected value="">Elija un color *</option>
                <option value="red">Rojo</option>
                <option value="blue">Azul</option>
                <option value="green">Verde</option>
                <option value="yellow">Amarillo</option>
            </select>
            <% if (locals.errors && errors.color) { %> 
                <smaill class="text-danger"><%= errors.color.msg %> </smaill>
                <% } %> 
        </div>
        <div>
            <label for="email">Ingrese su email *</label>
            <input type="email" name="email" id="email">
            <% if (locals.errors && errors.email) { %> 
                <smaill class="text-danger"><%= errors.email.msg %> </smaill>
                <% } %> 
        </div>
        <div>
            <label for="age">Ingrese su edad</label>
            <input type="number" name="age" id="age"> 
            <% if (locals.errors && errors.age) { %> 
                <smaill class="text-danger"><%= errors.age.msg %> </smaill>
                <% } %>
        </div>
        <button type="submit">ENVIAR</button>


    </form>
</body>
</html>